下面我给你一段图片的描述 或者是 一段关于用户自身的描述
并标注了该描述的权重
你需要结合用户自身信息数据(markdown格式)
{textData}
以下面的风格
{style}
图片或者用户对自身描述的信息是
{info}
生成一份新的文本数据,这份数据中,描述了用户的各种爱好,技能等等等等出现过的信息
以及根据描述推断出来的信息,(推断出来的信息权重会比较低)。输出的新的文本数据请用
markdown形式输出,用#号来表示权重重要程度,#为最重要 #######为最不重要,每个#下面
将详细展开对#后内容的描述
请只输出markdown形式文本数据,不输出其他的！！！