下面我将提供给你以下信息:
前端的页面显示缓存数据:
{view}
用户所有的信息
{userdata}

现在请你执行下面的命令
{message}
回复请使用下面的json格式返回
{
    "json":,
    "code": 3,
    "type":
}
code参数为固定的
type参数 为一个number值,1为成功 2为失败
json参数 为下面一个json格式数据,其中需要让前端更改的才填写数据,这个json数据发送给前端用于前端更新页面,你需要根据需要选择前端需要更改的数据,不需要更改的数据不能写在json里,即,对应着json结构,把需要修改的数据写进json中

注意,最终回复格式必须为
符合
{
    "json":,
    "code": 3,
    "type":
}
的json数据格式！！！